<!DOCTYPE html>
<html ng-app="appPage" ng-cloak>
<head>
    <meta charset="utf-8">
    <title>web种子项目Page</title>
    <meta name="Copyright" content="web项目" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="robots" content="index,follow" />
    <meta name="author" content="web项目" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
    <base href="/" />
</head>
<body ng-view>

<script type="text/javascript" src="/assets/vendor/ng.js"></script>
</body>
</html>
